################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestShoppingCartDiscount/v15/Server/sqlite3/db.lock
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
/TestShoppingCartDiscount.Framework/TestShoppingCartDiscount.Framework.csproj.user
/TestShoppingCartDiscount.UnitTests/TestShoppingCartDiscount.UnitTests.csproj.user
/TestShoppingCartDiscount.Domain/TestShoppingCartDiscount.Domain.csproj.user
